
body{
margin-top: 5Rem;
margin-bottom: .3rem;
color: black;
background-color: beige;
font-family: 'Anton', sans-serif;
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
text-align: center;
border: 3px solid green;
border-width: 1rem

}

h1{
      font-family: 'Nanum Brush Script', cursive;
    color: rgb(116, 54, 54);
    font-size: 5rem;
    
}

footer{
    font-family: 'Nanum Brush Script', cursive;
    color: teal;
    text-align: right;
    text-decoration-line: none;
    text-transform: uppercase;
}

p1{
    color: black;
    background-color: aquamarine;
    Margin-top: 2rem;
    margin-bottom: 2rem
}

img{
    width: 500px;
    margin:auto;
    left: 5em;
    border-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}


ol{
    text-align: left;
    font: 200;
}
h3{
    margin-top: 2rem;
    text-align: left;
    text-decoration: double ;
}
center{
    text-align: center;
    text-decoration: wavy,underline;
    
}